@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
    --primary: #0077b6;
    --secondary: #48cae4;
    --black: #333;
    --white: #fff;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: .2s linear;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: .5rem;
}

.section__header {
    font-size: 4rem;
    text-align: center;
    color: var(--dark-text);
    margin: 4rem 0;
}

section {
    padding: 5rem 7%;
}

.heading {
    font-size: 4rem;
    color: var(--primary);
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 3rem;
    margin-top: 8.5rem;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--primary);
    border-radius: .5rem;
    color: var(--white);
    font-size: 1.7rem;
    cursor: pointer;
}

.btn:hover {
    background: var(--secondary);
}

/* header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--white);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .logo i {
    color: var(--primary);
    padding-right: .5rem;
}

.header .navbar a {
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--black);
    margin: 0 1rem;
}

.current-section {
    color: var(--primary);
}

.header .navbar a:hover {
    color: var(--primary);
}

.header .navbar .btn {
    margin-top: 0;
    color: var(--white);
}

.header .navbar .btn:hover {
    color: var(--white);
}


.header .navbar .btnLogin-popup {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--primary);
    border-radius: .5rem;
    color: var(--white);
    font-size: 1.7rem;
    cursor: pointer;
}

.header .navbar .btnLogin-popup:hover{
    color: var(--white);
    background: var(--secondary);
}


#menu-btn {
    display: none;
    font-size: 2.5rem;
    margin-left: 1.7rem;
    cursor: pointer;
    color: var(--black);
}

#menu-btn:hover {
    color: var(--primary);
}

/* end */

/* home */

.home {
    padding: 0;
}

.home .slide {
    min-height: 100vh;
    background-size: cover !important;
    background-position: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.home .slide .content {
    width: 80rem;
    text-align: center;
}

.home .slide .content h3 {
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--white);
    line-height: 1.1;
    padding: 2rem 0;
}

.swiper-button-next,
.swiper-button-prev {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    background: var(--white);
    color: var(--black);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background: var(--primary);
    color: var(--white);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 2rem;
}

/* end */

/* availability */

.availability form {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    background: #eee;
    padding: 2rem;
    border-radius: .5rem;
}

.availability form .box {
    flex: 1 1 20rem;
}

.availability form .box p {
    font-size: 2rem;
    color: var(--primary);
}

.availability form .box .input {
    width: 100%;
    padding: 1rem;
    font-size: 1.8rem;
    color: var(--black);
    margin: 1rem 0;
    border-radius: .5rem;
}

/* end */

/* about */

.about .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6rem;
}

.about .row .image {
    flex: 1 1 40rem;
}

.about .row .image img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 51rem;
}

.about .row .content h3 {
    font-size: 3.5rem;
    color: var(--primary);
    padding: 2rem 0;
}

.about .row .content p {
    font-size: 1.6rem;
    color: #666;
    padding: 1rem 0;
    line-height: 1.8;
}

/* end */

/* room section */
.card-grid-4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.room-item {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.room-item img {
    width: 100%;
    display: flex;
}

.room-item__info {
    height: 100%;
    color: var(--black);
    padding: 1.5rem;
}

.room-item__title {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--primary);
}

.room-item__description {
    margin-top: 1rem;
    color: var(--light-text);
    font-size: 1.4rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.room-item__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    margin: 0 0 1.5rem 1.5rem;
    padding: 0.5rem;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 0.5rem;
    font-size: 1.4rem;
    font-weight: bold;
}

.room-item__btn:hover {
    color: var(--secondary);
    background-color: var(--white);
}

/* end room section */

/* service section */
.services .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 2rem;
}

.services .box-container .box {
    text-align: center;
}

.services .box-container .box img {
    height: 10rem;
    margin-bottom: .7rem;
}

.services .box-container .box h3 {
    font-size: 1.7rem;
    color: var(--black);
    padding: .5rem 0;
}

.service-item__name {
    font-size: 1.8rem;
    margin: 2rem 0;
    color: var(--dark-text);
}

/* end services section */

/* gallery */
.gallery .slide {
    height: 30rem;
    position: relative;
    overflow: hidden;
}

.gallery .slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* end gallery section */

/* header */

#menu-btn {
    display: none;
    font-size: 2.5rem;
    margin-left: 1.7rem;
    cursor: pointer;
    color: var(--black);
}

#menu-btn:hover {
    color: var(--primary);
}

/* end */


/* review */

.review {
    background-image: url("images/review.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 48rem;
    position: relative;
    margin: 4rem 0;
}

.review .review-slider {
    background: var(--secondary);
    padding: 2rem;
    width: 50%;
    height: 145%;
    margin-top: -8rem;
    margin-right: 60rem;
    color: var(--white);
    box-shadow: var(--box-shadow);
}

.review .slide {
    text-align: center;
}

.review .slide .heading {
    color: var(--white);
}

.review .slide i {
    font-size: 6rem;
    color: var(--primary);
}

.review .slide p {
    padding-bottom: 1.5rem;
    padding-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--white);
}

.review .slide .user {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    border-radius: .5rem;
}


.review .slide .user img {
    height: 7rem;
    width: 7rem;
    border-radius: 15%;
    object-fit: cover;
}

.review .slide .user h3 {
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.review .slide .user i {
    font-size: 1.3rem;
    color: var(--primary);
}

/* end */

/* faq */

.faqs .row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
}

.faqs .row .image {
    flex: 1 1 40rem;
}

.faqs .row .image img {
    width: 100%;
}

.faqs .row .content {
    flex: 1 1 40rem;
}

.faqs .row .content .box {
    margin-top: 2rem;
}

.faqs .row .content .box h3 {
    font-size: 2rem;
    color: var(--primary);
    padding: 1.5rem;
    cursor: pointer;
}

.faqs .row .content .box p {
    font-size: 1.6rem;
    padding: 1.5rem 2rem;
    line-height: 2;
    color: var(--secondary);
    box-shadow: var(--box-shadow);
    display: none;
}

.faqs .row .content .box.active p {
    display: inline-block;
}

/* end */

/* media queries */

@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem 3rem;
    }

}

@media (max-width: 768px) {

    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        background: var(--white);
        border-radius: .5rem;
    }

    .header .navbar.active {
        right: 2rem;
        transition: .4s linear;
    }

    .header .navbar a {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }

    .home .slide .content {
        width: 50rem;
    }

    .review .review-slider {
        width: 100%;
        padding: 1rem;
        padding-top: 15%;
    }

}

@media (max-width: 450px) {

    html {
        font-size: 50%;
    }

    .home .slide .content {
        width: 30rem;
    }

    .home .slide .content h3 {
        font-size: 3rem;
    }

    .card-grid-4 {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 2rem;
    }

    .service-item img {
        width: 70px;
        height: 70px;
    }

    .service-item__name {
        font-size: 1.2rem;
    }

    .gallery-wrapper {
        margin: 0 2rem;
    }

    .gallery-wrapper img {
        width: 100px;
        height: 100px;
    }
}

/* footer */

.footer{
    background: var(--secondary);
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    padding: 1rem 0;
    color: var(--primary);
}

.footer .box-container .box a{
    font-size: 1.6rem;
    display: block;
    color: var(--white);
    padding: 1rem 0;
}

.footer .box-container .box a i{
    color: var(--primary);
    padding-right: .5rem;
}

.footer .box-container .box a:hover{
    color: var(--primary);
}

.footer .share{
    padding-top: 2rem;
    text-align: center;
}

.footer .share a{
    color: var(--primary);
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    border: .1rem solid var(--primary);
    margin: .3rem;
}

.footer .share a:hover{
    color: var(--white);
    background: var(--primary);
    transform: rotate(360deg);
}

.footer .credit{
    font-size: 2rem;
    text-align: center;
    margin-top: 2.5rem;
    padding-top: 2rem;
    border-top: .1rem solid rgba(0, 0, 0, 0.3);
    color: var(--white);
}

.footer .credit span{
    color: var(--primary);
}


/* end */

/* Login, Register*/
.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: auto;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
    /* display: none; */
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
    /* transform: translateX(0); */
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
    /* display: none; */
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: var(--dark-text);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 3rem;
    color: var(--dark-text);
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 30px;
    border-bottom: 2px solid var(--dark-text);
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: var(--dark-text);
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -8px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--dark-text);
    font-weight: 600;
    padding: 0 35px 0 25px;
}

.input-box .icon {
    position: absolute;
    left: 8px;
    font-size: 1.5rem;
    color: var(--dark-text);
    line-height: 30px;   
}

.input-box .icon-right {
    position: absolute;
    right: 8px;
    font-size: 1.5rem;
    color: var(--dark-text);
    line-height: 30px;   
    cursor: pointer;
}

.remember-forgot {
    font-size: 1.5rem;
    color: var(--dark-text);
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: var(--dark-text);
    margin-right: 3px;
}

.remember-forgot a {
    color: var(--dark-text);
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btnButton {
    width: 100%;
    height: 45px;
    background: var(--primary);
    border-radius: .5rem;
    color: var(--white);
    font-size: 1.7rem;
    cursor: pointer;
    border: none;
    outline: none;
}

.login-register {
    font-size: 1.5rem;
    color: var(--dark-text);
    font-weight: 500;
    margin: 25px 0 10px;
    text-align: center;
}

.login-register a {
    color: var(--dark-text);
    text-decoration: none;
}

.login-register a:hover {
    text-decoration: underline;
}