@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
:root {
    --dark-text: #333;
    --light-text: #767268;
    --primary: #0077b6;
    --secondary: #48cae4;
    --black: #333;
    --white: #fff;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: .2s linear;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: .5rem;
}

.section__header {
    font-size: 4rem;
    text-align: center;
    color: var(--dark-text);
    margin: 4rem 0;
}

section {
    /* padding: 5rem 7%;    */
}

.heading {
    font-size: 4rem;
    color: var(--primary);
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 3rem;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--primary);
    border-radius: .5rem;
    color: var(--white);
    font-size: 1.7rem;
    cursor: pointer;
}

.btn:hover {
    background: var(--secondary);
}

/* room section */
.card-grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 8rem;
    gap: 2.5rem;
}

.room-item {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    text-decoration: none;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.room-item img {
    width: 100%;
    display: flex;
}

.room-item__info {
    height: 100%;
    padding: 1.5rem;
    color: var(--dark-text);
}

.room-item__title {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--dark-text);
}

.room-item__description {
    width: 100%;
    margin-top: 1rem;
    color: var(--light-text);
    font-size: 1.4rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.room-features__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.room-features__list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--dark-text);
    text-decoration: none;
    font-size: 1.2rem;
}

.room-features__list-item img {
    width: 20px;
    height: 20px;
    margin-bottom: 0.5rem;
}

/* service section */
.service {
    background-color: #f5f5f5;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.card-grid-6 {
    display: grid;
    grid-template-columns: repeat(5, 1fr)
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.service-item__name {
    font-size: 1.8rem;
    margin: 2rem 0;
    color: var(--dark-text);
}

.gallery-wrapper {
    display: flex;
    overflow-x: auto;
    margin: 0 8rem;
}

.gallery-wrapper img {
    width: 235px;
    height: 235px;
    padding-right: 10px;
    object-fit: cover;
}

/* header */

#menu-btn {
    display: none;
    font-size: 2.5rem;
    margin-left: 1.7rem;
    cursor: pointer;
    color: var(--black);
}

#menu-btn:hover {
    color: var(--primary);
}

/* end */


/* review */

.review {
    background-image: url("images/review.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 48rem;
    position: relative;
    margin: 4rem 0;
}

.review .review-slider {
    background: var(--secondary);
    padding: 2rem;
    width: 50%;
    height: 145%;
    margin-top: -8rem;
    margin-right: 60rem;
    padding-top: 6%;
    color: var(--white);
    box-shadow: var(--box-shadow);
}

.review .slide {
    text-align: center;
}

.review .slide .heading {
    color: var(--white);
}

.review .slide i {
    font-size: 6rem;
    color: var(--primary);
}

.review .slide p {
    padding-bottom: 1.5rem;
    padding-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--white);
}

.review .slide .user {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    border-radius: .5rem;
}


.review .slide .user img {
    height: 7rem;
    width: 7rem;
    border-radius: 15%;
    object-fit: cover;
}

.review .slide .user h3 {
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.review .slide .user i {
    font-size: 1.3rem;
    color: var(--primary);
}

/* end */

/* faq */

.faqs .row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
}

.faqs .row .image {
    flex: 1 1 40rem;
}

.faqs .row .image img {
    width: 100%;
}

.faqs .row .content {
    flex: 1 1 40rem;
}

.faqs .row .content .box {
    margin-top: 2rem;
}

.faqs .row .content .box h3 {
    font-size: 2rem;
    color: var(--primary);
    padding: 1.5rem;
    cursor: pointer;
}

.faqs .row .content .box p {
    font-size: 1.6rem;
    padding: 1.5rem 2rem;
    line-height: 2;
    color: var(--secondary);
    box-shadow: var(--box-shadow);
    display: none;
}

.faqs .row .content .box.active p {
    display: inline-block;
}

/* end */

/* media queries */

@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem 3rem;
    }

}

@media (max-width: 768px) {

    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        background: var(--white);
        border-radius: .5rem;
    }

    .header .navbar.active {
        right: 2rem;
        transition: .4s linear;
    }

    .header .navbar a {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }

    .home .slide .content {
        width: 50rem;
    }

    .review .review-slider {
        width: 100%;
        padding: 1rem;
        padding-top: 15%;
    }

}

@media (max-width: 450px) {

    html {
        font-size: 50%;
    }

    .home .slide .content {
        width: 30rem;
    }

    .home .slide .content h3 {
        font-size: 3rem;
    }

    .card-grid-4 {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 2rem;
    }

    .room-features__list {
        display: none;
    }

    .service-item img {
        width: 70px;
        height: 70px;
    }

    .service-item__name {
        font-size: 1.2rem;
    }

    .gallery-wrapper {
        margin: 0 2rem;
    }

    .gallery-wrapper img {
        width: 100px;
        height: 100px;
    }
}